{% extends 'base.html' %}

{% block body %}

<div class="prev_contacts">
    {% if not contacts %} <h3>No contacts available!</h3>
    {% else %}
    <form action="/contacts" method="POST">
        <label for="search">
            <input type="text" name="search" id="search" placeholder="Search...">
        </label>
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Actions</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{contact.contact_name}}</td>
            <td>{{contact.contact_phone}}</td>
            <td>{{contact.contact_email}}</td>
            <td><a href="/delete/{{contact.contact_id}}">Delete</a> | <a href="/edit/{{contact.contact_id}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}