body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.new_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffeaea;
  width: 400px;
  height: 360px;
  margin-top: 27px;
}
.new_contact h2 {
  color: #636363;
}
.new_contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.new_contact form input {
  width: 80%;
  margin: 7px 0;
  padding: 7px;
}
.new_contact form input:focus {
  border: 2px solid #f5cbcb;
  border-radius: 5px;
  outline: none;
}
.new_contact form input[type=submit] {
  background-color: #748dae;
  color: #f1f1f1;
  border: 2px solid #748dae;
  border-radius: 5px;
  padding: 12px;
  width: 84.5%;
  font-size: 15px;
}
.new_contact form input[type=submit]:hover {
  background-color: #829fc4;
  cursor: pointer;
}
.new_contact .all_contacts_btn {
  border: 2px solid #636363;
  border-radius: 5px;
  width: 83.5%;
  text-align: center;
  padding: 4px 0;
}
.new_contact .all_contacts_btn a {
  text-decoration: none;
  color: #636363;
}
.new_contact .all_contacts_btn:hover {
  background-color: #b6b6b6;
  cursor: pointer;
}

.prev_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffeaea;
  width: 550px;
  height: -moz-max-content;
  height: max-content;
  margin-top: 27px;
  padding: 20px;
}
.prev_contacts h3 {
  color: #636363;
}
.prev_contacts form {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.prev_contacts form input {
  padding: 7px;
  border: 2px solid #fff;
  border-radius: 5px 0 0 5px;
}
.prev_contacts form input:focus {
  border: 2px solid #f5cbcb;
  outline: none;
}
.prev_contacts form input[type=submit] {
  background-color: #f5cbcb;
  color: #636363;
  border: 2px solid #f5cbcb;
  border-radius: 0 5px 5px 0;
}
.prev_contacts form input[type=submit]:hover {
  background-color: #ffeaea;
  cursor: pointer;
}
.prev_contacts table {
  border-collapse: collapse;
  text-align: center;
}
.prev_contacts table th,
.prev_contacts table td {
  border: 2px solid #748dae;
  padding: 7px;
}
.prev_contacts table th {
  background-color: #829fc4;
  color: #f1f1f1;
}
.prev_contacts table td {
  background-color: #b6b6b6;
}
.prev_contacts table td a {
  font-weight: bold;
  color: #636363;
}
.prev_contacts table td a:hover {
  color: #748dae;
  cursor: pointer;
}
.prev_contacts .export_btn {
  border: 2px solid #9ecad6;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 85.5%;
  text-align: center;
  padding: 7px 0;
  font-weight: bold;
  margin: 20px 0;
}
.prev_contacts .export_btn a {
  text-decoration: none;
  color: #636363;
}
.prev_contacts .export_btn:hover {
  background-color: #9ecad6;
  cursor: pointer;
}
.prev_contacts .back_btn {
  background-color: #9ecad6;
  border: 2px solid #9ecad6;
  color: #636363;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  width: 85.5%;
}
.prev_contacts .back_btn:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.edit_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffeaea;
  width: 400px;
  height: 280px;
  margin-top: 27px;
}
.edit_box h2 {
  color: #636363;
}
.edit_box form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.edit_box form input {
  width: 80%;
  margin: 7px 0;
  padding: 7px;
}
.edit_box form input:focus {
  border: 2px solid #f5cbcb;
  border-radius: 5px;
  outline: none;
}
.edit_box form input[type=submit] {
  background-color: #748dae;
  color: #f1f1f1;
  border: 2px solid #748dae;
  border-radius: 5px;
  padding: 12px;
  width: 84.5%;
  font-size: 15px;
}
.edit_box form input[type=submit]:hover {
  background-color: #829fc4;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */